mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    background-color: aliceblue;
    padding: 12px;
    border-radius: 20px;
}
  
mat-form-field {
    display: block;
}

mat-form-field input {
    width: 100%;
    padding: 15px;
}

.wrap-login{
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.login-box{
    display: flex;
    justify-content: center;
    width: 500px;
    border-color: inherit;
    box-shadow: inherit;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-box mat-card-header {
    width: 50%;
    height: 50%;
    padding: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.login-box mat-card-header img{
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
}

.mat-mdc-card-content {
    padding:0;
}

.login-box mat-form-field{
    border-color: #0000001F !important;
    border-radius: 4px;
}

.mdc-text-field--invalid .mdc-text-field__input,.mdc-text-field .mdc-text-field__input,.form-field{
    caret-color: #000000BC!important;
}

.form-field{
    font-size: 16px;
    letter-spacing: 0.15px!important;
    color: #000000BC!important;
}

.mat-mdc-form-field-error-wrapper{
    height: 18px;
}

.login-box mat-label,.mat-mdc-form-field-error{
    color: #000000BC !important;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}